# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th class="text-nowrap col-xs-1">Hash</th>
            <td class="col-xs-11">{{drawing_db.hash}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">JSON</th>
            <td class="col-xs-11">{{drawing_db.json}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

# endblock
