# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <h1>
      {{title}}
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form method="POST" action="." novalidate>
        {{forms.textarea_field(form.json)}}
        <button type="submit" class="btn btn-primary btn-block btn-loading" {{forms.data_loading_text()}}>
          Create
        </button>
      </form>
    </div>
  </div>
# endblock
