# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <div class="pull-right">
      <a class="btn btn-default" href="{{url_for('drawing_update')}}" title="Add Drawing">
        <span class="fa fa-plus fa-fw"></span>
      </a>
      <a class="btn btn-primary" href="{{url_for('drawing_update', drawing_id=drawing_db.key.id())}}">
        <span class="fa fa-fw fa-pencil"></span> Edit
      </a>
    </div>
    <h1>
      {{utils.back_link('Back', 'drawing_list')}}
      {{title}}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th class="text-nowrap col-xs-1">Hash</th>
            <td class="col-xs-11">{{drawing_db.hash}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">Json</th>
            <td class="col-xs-11">{{drawing_db.json}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

# endblock
