# extends 'base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block content
  <div class="page-header">
    <a class="pull-right btn btn-primary" href="{{url_for('drawing_update')}}">
      <fa class="fa fa-plus fa-fw"></fa> Add Drawing
    </a>
    <h1>{{title}}</h1>
  </div>
  <div class="table-responsive {{'hide' if not drawing_dbs|count}}">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-1">{{utils.order_by_link('hash', 'Hash')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('json', 'Json')}}</th>
        </tr>
      </thead>
      <tbody>
        # for drawing_db in drawing_dbs
          <tr class="row-link" id="{{drawing_db.key.urlsafe()}}" data-href="{{url_for('drawing_view', drawing_id=drawing_db.key.id())}}">
            <td>{{drawing_db.hash}}</td>
            <td>{{drawing_db.json}}</td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
