# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>Hello, world!</p>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-success">
        <div class="panel-heading"><h4>POST</h4></div>
        <div class="panel-body">
          <p>Example URL</p>
          <pre>{{request.url[:-1]}}{{url_for('api.create', drawing_hash="9bb58f26192e4ba00f01e2e7b136bbd8")}}</pre>

          <h4>Payload</h4>
          <p>Example payloed. Should match the <code>SHA-1</code> hash of the URL</p>
          <pre>json: {"foo":"bar"}</pre>

          <p>If the hash already exists it will return the <code>JSON</code> as response</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading"><h4>GET</h4></div>
        <div class="panel-body">
          <p>Example URL</p>
          <pre>{{request.url[:-1]}}{{url_for('api.hash', drawing_hash="9bb58f26192e4ba00f01e2e7b136bbd8")}}</pre>

          <h3>Response</h3>
          <p>Example response. If the hash is found it will return the <code>JSON</code>. Otherwise <code>404</code>.</p>
          <pre>{"foo":"bar"}</pre>
        </div>
      </div>
    </div>
  </div>
# endblock
