# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container text-center">
      <div class="image">
        <img src="/p/img/diagram.png">
        <a title="Excalidraw" href="https://www.excalidraw.com" style="top: 13%; left: 0%; width: 34%; height: 79%;"></a>
        <a title="{{config.CONFIG_DB.brand_name}}" href="{{request.url}}" style="top: 13%; left: 65%; width: 34%; height: 76%;"></a>
      </div>
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p class="lead">Use it with care! If you have no idea what it is, it's not for you.</p>
      <p class="lead">Get <a href="https://chrome.google.com/webstore/detail/restman/ihgpcfpkpmdcghlnaofdmjkoemnlijdi?hl=en">RestMan</a> in Chrome to test it.</p>
    </div>
  </div>
# endblock

# block content
  <h2>Version 2</h2>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-info">
        <div class="panel-heading"><h3>POST</h3></div>
        <div class="panel-body">
          <p>Example endpoint URL</p>
          <pre>{{request.url[:-1]}}{{url_for('api.data.create')}}</pre>

          <h3>Binary Payload</h3>
          <p>Example of <code>binary</code> payload.</p>
          <pre>1234567890</pre>

          <h3>Response</h3>
<pre>
{
  "id": "5633286537740288",
  "data": "{{url_for('api.data.id', drawing_id='5633286537740288', _external=True)}}"
}
</pre>
        </div>
      </div>
    </div>
    <div class="col-md-offset-3 col-md-9">
      <div class="panel panel-success">
        <div class="panel-heading"><h3>GET</h3></div>
        <div class="panel-body">
          <p>Example endpoint URL</p>
          <pre>{{request.url[:-1]}}{{url_for('api.data.id', drawing_id="5633286537740288")}}</pre>
          <h3>Response</h3>
          <p>Example of <code>binary</code> response. If the id is found it will return the <code>data</code>. Otherwise <code>404</code>.</p>
          <pre>1234567890</pre>
        </div>
      </div>
    </div>
  </div>
# endblock
